<% include ./header.ejs %>


<div class="container">

<h1><header>User Sign up Form</header></h1>
<br><br>
<form method="post" action="/signup">
  <div class="form-group">
    <label for="user_sign_up">User Name</label>
    <input name="username" type="text" class="form-control" id="username" placeholder="Please, enter a username, under 25 charcters.">
  </div>
  <div class="form-group">
    <label for="user_sign_up">First Name</label>
    <input name="f_name" type="text" class="form-control" id="user_f_name" placeholder="Enter your first name, under 20 charcters.">
  </div>
  <div class="form-group">
    <label for="user_sign_up">Last Name</label>
    <input name="l_name" type="text" class="form-control" id="user_l_name" placeholder="Enter your last name, under 20 charcters.">
  </div>


  <div class="form-group">
    <label for="user_sign_up">Email</label>
    <input type="email" name="email" class="form-control" id="email" placeholder="Email">
  </div>

  <div class="form-group">
    <label for="user_sign_up">Location</label>
    <input name="location" type="text" class="form-control" id="location" placeholder="San Francisco, Ca.">
  </div>
  <div class="form-group">
    <label for="user_sign_up">Occupation</label>
    <input name="occupation" type="text" class="form-control" id="occupation" placeholder="Please enter or select highest level of completed education.">
  </div>

  <div class="form-group">
    <label for="user_sign_up">Age</label>
    <input name="age" type="text" class="form-control" id="age" placeholder="Please enter your age.">
  </div>
  <div class="form-group">
    <label for="user_sign_up">Limelight Objective</label>
    <input name="limelightObjective" type="text" class="form-control" id="limelight_objective" placeholder="Please enter your limelight objective.">
  </div>

  <div class="form-group">
    <label for="user_sign_up">Bio</label>
    <textarea name="bio" class="form-control" id="bio" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="user_sign_up">Password</label>
    <input name="password" type="text" class="form-control" id="password" placeholder="Please enter your Password.">
  </div>

  <div class="form-group">
    <label for="user_sign_up">File input</label>
    <input name="image" type="file" class="form-control-file" id="image" aria-describedby="fileHelp">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<div class="container">
<!-- <%# include ./footer/footer %> -->
</div>
<script src="../main.js"></script>
