<!DOCTYPE html>
<html>
<head>
  <title>profile</title>
</head>
<body>
<!-- <%#= user_sid %> -->
<% include ../header.ejs %>
<hr>
<br>
<% include ./profile_container.ejs %>
<br>
<% include ./user_post.ejs %>
</body>

<script src="./main.js"></script>
</html>