<% include ../header.ejs %>
<h1>This is the check</h1>
<div> 
<form method="post" action="/user_profile_post">

  <div class="form-group">
    <label for="user_post">Bio</label>
    <textarea name="message" class="form-control" id="user_post" rows="3"></textarea>
  </div>

  <div class="form-group container">
    <label for="user_post">File input</label>
    <input name="profile_upload" type="file" class="form-control-file" id="profile_upload" aria-describedby="fileHelp">
  </div>
  <button type="submit" id="user_post_submit" class="btn btn-primary">Submit</button>
</form>


<%= {userMessagesArray} %>
<%#= valueCheck %>




  
</div>
<script src="./main.js"></script>

